.root{
    --spacer: 1.5rem;
}

.lead {
   
    color: rgb(255, 255, 255);  
    text-transform: uppercase;
    font-size: 12px;
    font-family: Lexend Deca;
    font-weight: 400;
    letter-spacing: 1px;
    height: 216px;
    margin-bottom: 59px;
 
    
   .sub-heading {
       line-height: 1.5625em;
       
   }

   
    @media (min-width: 77.5em) {
        display: flex;
        flex-direction: row;
        max-width: 350px;
        max-height: 56px;
        margin-right: 0;
        margin-left: 0;
        font-size: 12px;
        font-family: Lexend Deca;
        font-weight: 400;
        align-items: start;
        justify-content: space-between;
        line-height: 1.5625;

        :nth-last-of-type(1) {
            margin-bottom: 0;
        }
      

       
    }

   

}
