// Color Styles

// ## primary
$veryDarkBlue: hsl(233, 47%, 7%);
$darkDesaturatedBlue: hsl(244, 38%, 16%);
$softViolet: hsl(2277, 64%, 61%);

// ## neutral

$white: hsl(0, 0%, 100%);
$slightlyTransparentWhite: hsla(0, 0%, 100%, 0.75);
$slightlyTransparentwhite: hsla(0, 0%, 100%, 0.6);